* {
    box-sizing: border-box;
}
body,
ul,
li,
h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  color: #345;
  height: 180px;
}

img {
    max-width: 100%;
    display: block;
}

.main-image {
    margin-left: 180px;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.bike-image {
    left: -450px;
    top: -600px;
    height: auto;
    width: 60%;
    z-index: 0;
}

.poligonos-image {
    position: absolute;
    opacity: 100%;
    right: 0px;   
    height: 70rem;
    z-index: 0;
}

.poligonos-image-footer {
    position: absolute;
    opacity: 100%;
    right: 0px;   
    top: -120px;
    height: 60rem;
    z-index: 0;
}

.contact-content {
    position: relative;
    top: -45rem;
    z-index: 1;
    width: auto;
}

.bg-primary {
    background-color: #74978C;
}

.color-primary {
    color: #74978C;
}

.bg-secondary{
    background-color: #FFC289;
}

.color-secondary {
    color: #FFC289;
}